@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 100;
    font-style: normal;
    src: local('Barlow Thin'), local('Barlow-Thin'),
    url('woff2/Barlow-Thin.woff2') format('woff2'),
    url('ttf/Barlow-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 100;
    font-style: italic;
    src: local('Barlow Thin Italic'), local('Barlow-ThinItalic'),
    url('woff2/Barlow-ThinItalic.woff2') format('woff2'),
    url('ttf/Barlow-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 200;
    font-style: normal;
    src: local('Barlow ExtraLight'), local('Barlow-ExtraLight'),
    url('woff2/Barlow-ExtraLight.woff2') format('woff2'),
    url('ttf/Barlow-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 200;
    font-style: italic;
    src: local('Barlow ExtraLight Italic'), local('Barlow-ExtraLightItalic'),
    url('woff2/Barlow-ExtraLightItalic.woff2') format('woff2'),
    url('ttf/Barlow-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    src: local('Barlow Light'), local('Barlow-Light'),
    url('woff2/Barlow-Light.woff2') format('woff2'),
    url('ttf/Barlow-Light.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 300;
    font-style: italic;
    src: local('Barlow Light Italic'), local('Barlow-LightItalic'),
    url('woff2/Barlow-LightItalic.woff2') format('woff2'),
    url('ttf/Barlow-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: local('Barlow Regular'), local('Barlow-Regular'),
    url('woff2/Barlow-Regular.woff2') format('woff2'),
    url('ttf/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: local('Barlow Italic'), local('Barlow-Italic'),
    url('woff2/Barlow-Italic.woff2') format('woff2'),
    url('ttf/Barlow-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: local('Barlow Medium'), local('Barlow-Medium'),
    url('woff2/Barlow-Medium.woff2') format('woff2'),
    url('ttf/Barlow-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 500;
    font-style: italic;
    src: local('Barlow Medium Italic'), local('Barlow-MediumItalic'),
    url('woff2/Barlow-MediumItalic.woff2') format('woff2'),
    url('ttf/Barlow-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
    url('woff2/Barlow-SemiBold.woff2') format('woff2'),
    url('ttf/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 600;
    font-style: italic;
    src: local('Barlow SemiBold Italic'), local('Barlow-SemiBoldItalic'),
    url('woff2/Barlow-SemiBoldItalic.woff2') format('woff2'),
    url('ttf/Barlow-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: local('Barlow Bold'), local('Barlow-Bold'),
    url('woff2/Barlow-Bold.woff2') format('woff2'),
    url('ttf/Barlow-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'),
    url('woff2/Barlow-BoldItalic.woff2') format('woff2'),
    url('ttf/Barlow-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 800;
    font-style: normal;
    src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
    url('woff2/Barlow-ExtraBold.woff2') format('woff2'),
    url('ttf/Barlow-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 800;
    font-style: italic;
    src: local('Barlow ExtraBold Italic'), local('Barlow-ExtraBoldItalic'),
    url('woff2/Barlow-ExtraBoldItalic.woff2') format('woff2'),
    url('ttf/Barlow-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    src: local('Barlow Black'), local('Barlow-Black'),
    url('woff2/Barlow-Black.woff2') format('woff2'),
    url('ttf/Barlow-Black.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    font-display: swap;
    font-weight: 900;
    font-style: italic;
    src: local('Barlow Black Italic'), local('Barlow-BlackItalic'),
    url('woff2/Barlow-BlackItalic.woff2') format('woff2'),
    url('ttf/Barlow-BlackItalic.ttf') format('truetype');
}
